*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Satisfy', cursive;
}

/* header section style start  */
nav{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.text-primary{
    color: rgb(236, 114, 15);
}
.btn-primary{
    border-radius: 5px;
    background-color:rgb(236, 114, 15);
    color: azure;
    border: 0;
    padding: 15px 35px;
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    margin-right: 50px;
    list-style: none;
}
nav a {
    text-decoration: none;
    color: #2d2d2d;
}

.hdr{
    background-color: #fff8f3;
    background-image: url(../images/icons/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 50px 30px 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 600px;
}
/* .banner .profile-pic{
    width: 500px;
} */

.banner-greeting{
    font-size: 45px;
    color: #2d2d2d;
    margin: 0;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{
    margin-bottom: 10px;
    font-size: 15px;
}
/* header section style end  */

/* main section style start  */

main{
    max-width: 1140px;
    margin: 0 auto;
}

.about{
    padding: 130px;
    border-radius: 10px;
    background-color: #f9ede4;
    margin: 130px 0;
}

.about-title,.do-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    text-align:center;
}
.about-description, .do-description{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.about-info{
    text-align: center;
}
/* main section style end  */